h1,
h2 {
  font-family: Lato;
}
.circle-border {
  transition: stroke-dashoffset 0.1s;
  transform: rotate(-20deg);
  transform-origin: 50% 50%;
}
.circle-border45 {
  transition: stroke-dashoffset 0.1s;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
}
.circle-border90 {
  transition: stroke-dashoffset 0.1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.circle-border135 {
  transition: stroke-dashoffset 0.1s;
  transform: rotate(-135deg);
  transform-origin: 50% 50%;
}
.circle-border180 {
  transition: stroke-dashoffset 0.1s;
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
}

#test1 {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

#element {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E");
}
